body{
	padding-top: 20px;
}
.top1{
	height:500px;
	background-image:url(img/fon0.jpg);
	background-size: 100% 100%; /* Разрешение мониторов постоянно растёт и при вёрстке веб-страниц приходится учитывать самый широкий диапазон разрешений. Это особенно важно при использовании фонового рисунка, который либо обрезается при низком разрешении монитора, либо, наоборот, целиком не помещается при высоком разрешении. Одним из решений подобной ситуации является масштабирование фона. Конечно, это сулит некоторые неприятности вроде появления искажений и артефактов в изображениях, но и расширяет арсенал средств вёрстки.*/
	
	
}

button{ 

	  background-color: #f5f0d4;
	  border: 2px solid #f3d89e;
	  width: 200px;  
}
.a1{
	padding-left:25px;
	position: absolute;
}

.sl{
	padding-left:40%;
}
.b1{
	float:right;
	padding-right:15px;
}         
.b2{      
	float:right;
	padding-right:15px;
}        
.b3{      
	float:right;
	padding-right:15px;
}
.b4{
	float:right;
	padding-right:15px;
}
.b5{
	float:right;
	padding-right:15px;
}
.b6{
	float:right;
	padding-right:15px;
}
.b7{
	padding-top:5%;
	padding-right:15px;
	float:right;
	text-align:center;
}
.s1{
	position: absolute;
    top: 5%;
    right: 1%;
    margin: 5px;
	margin-right:3%;
	
}
.s2{
    position: absolute;
    top: 8%;
    right: 13.2%;
    margin: 15px;
	margin-right:3%;
}
.s3{
	position: absolute;
    top: 12%;
    right: 20%;
    margin: 15px;
	margin-right:3%;
}
.bottom1{
	
	height:100%;
	width:100%;
	background:url(img/fon1.jpg) no-repeat;
	background-size: 100% 100%; 
	
	padding-top: 2%;
	
	
	
}


.bottom2{
	background-color: gray;

	
}
table {
    border-spacing: 250px 5px; /* Горизонтальный отступ, вертикальный отступ */ 
}

.text{
	font-size:150%;
}